@if (!resultado()) {
    <p class="center">Ingrese los valores correspondientes y presione "Calcular"</p>
}@else {
    <table>
        <thead>
            <tr>
                <th class="center">Ganancias Netas</th>
                <th class="center">Porcentaje de Retorno</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td class="center">{{resultado()?.gananciaNeta | currency}}</td>
                    <td class="center">{{resultado()?.porcentajeRetorno}}%</td>
                </tr>
            
        </tbody>
    </table>
}
